<% layout('layouts/boilerplate') %>

<div class="container">
    <h1 class="mt-5"><%= anime.title %></h1>
    <div class="card mb-3">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-4">
                  <img src=<%= anime.images.jpg.large_image_url %> class="img-fluid rounded-start" alt="anime image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="row">
                      <dl class="row">
                          <dt class="col-sm-3"></dt>
                          <dd class="col-sm-9">
                            <dl class="row mb-3">
                                <dt class="col-sm-4">Aired:</dt>
                                <dd class="col-sm-8 mb-3">
                                    from
                                    <% if(anime.aired.from === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.aired.from.slice(0,10) %>
                                    <% } %>
                                      to
                                    <% if(anime.aired.to === null || anime.aired.from === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.aired.to.slice(0,10) %>
                                    <% } %>
                                </dd>
      
                                <dt class="col-sm-4">Rating:</dt>
                                <dd class="col-sm-8 mb-3">
                                    <% if(anime.rating === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.rating %>
                                    <% } %>
                                </dd>

                                <dt class="col-sm-4">Genres:</dt>
                                <dd class="col-sm-8 mb-3">
                                    <% if(anime.genres === null) { %>
                                        ?
                                    <% }else { %>
                                        <%for (let genre of anime.genres) {%>
                                            <span><%= genre.name %>,</span>
                                        <% } %>
                                    <% } %>
                                </dd>
      
                                <dt class="col-sm-4">Rank:</dt>
                                <dd class="col-sm-8 mb-3">
                                    <% if(anime.rank === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.rank %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Score:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.score === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.score %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Scored By:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.scored_by === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.scored_by %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Popularity:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.popularity === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.popularity %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Status:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.status === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.status %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Source:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.source === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.source %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Season:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.season === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.season %>
                                    <% } %>
                                </dd>
      
                              <dt class="col-sm-4">Duration:</dt>
                              <dd class="col-sm-8 mb-3">
                                    <% if(anime.duration === null) { %>
                                        ?
                                    <% }else { %>
                                        <%= anime.duration %>
                                    <% } %>
                                </dd>
                            </dl>
                          </dd>
                        </dl>
                    </div>
                  </div>
              </div>
            <p class="card-text pb-3">
                <%= anime.synopsis.substring(0, 500) %>
                <span id="dots">...</span>
                <span id="more"><%= anime.synopsis.substring(551, anime.synopsis.length -1) %></span>
                <a class="link-info btn" onclick="myFunction()" id="myBtn">Read more</a>
            </p>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center myt-5 mb-3">
    <iframe class="video" 
        width="640" 
        height="360"
        src="<%= anime.trailer?.embed_url %>"
        allow="accelerometer; autoplay; clipboard-write, encrypted-media; gyroscope;"
        allowfullscreen>
    </iframe>
</div>

<div class="card mb-3">
    <div class="row m-3 p-3">
        <% for(let character of characters.slice(0,10)) { %>
            <div class="col-lg-2 col-md-4">
                <a href="/<%= character.character.mal_id %>/characters">
                    <img src="<%= character.character.images.jpg.image_url %>" class="bd-placeholder-img rounded-circle" width="100" height="100" role="img" style="object-fit: cover;" alt="...">
                    <h5 class="fw-normal"><strong><%= character.character.name %></strong></h5>
                    <p class="text-muted"><%= character.role %></p>
                </a>
            </div>
        <% } %>
    </div>
</div>